*{
    margin: 0%;
    padding: 0%;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.main_box{
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}
.btn_one{
    color: aliceblue;
    font-size: 30px;
    font-weight: 300;
    position: absolute;
    left:16px;
    line-height: 60px;/*this means that one line of content requires 60px, (here content is .btn_one)*/
    cursor: pointer;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(237, 234, 229,0.1);/*here in rgba a is alpha channel*/
    box-shadow:0 0 6px rgba(203, 185, 185, 0.5) ;
    transition: all 0.1s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow:0 2px 4px rgba(241, 220, 220, 0.5)  ;
    height: 60px;
}
.sidebar_menu .logo a{
  position: absolute;
  left: 50px;
  font-size: 20px;
  color: white;
  font-weight: 300;
  text-decoration: none;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;

}
.sidebar_menu .btn_two i{
     color: grey;
    font-size: 25px;
    position: absolute;
    left:275px;
    line-height: 60px;
    opacity: 0;
    cursor: pointer;
}
.sidebar_menu .menu li{
    margin-top: 10px;
    padding: 14px 20px;
}
.sidebar_menu .menu i,a{
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.sidebar_menu .menu i{
   
    padding-right: 8px;
}
.sidebar_menu .social_media{
position: absolute;
left: 25%;
bottom: 50px;
}
.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}
#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow:0 0 4px rgba(202, 190, 190, 0.5)  ;

}

.btn_one i:hover{
    font-size: 40px;
    transition: all 0.3s linear;
}
.btn_two i:hover{
    font-size: 30px;
    transition: all 0.3s linear;

}

.sidebar_menu .social_media i:hover{
     opacity: 1;
     transform: scale(1.1);
}
 
#check:checked~.sidebar_menu{  /*sibling selector`~`*/
    left: 0;
}

#check:checked~.btn_one i{
    opacity: 0;
}

#check:checked~.sidebar_menu .btn_two i{ 
        opacity: 1;
    }
 

.btn_one i{
    cursor: pointer;
}